.field-wrap {
  margin-bottom: 15px;

  @media (min-width: 768px) {
    display: inline-block;
    margin-right: 3%;
    width: 47%;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: 1140px) {
    display: block;
    width: 100%;
    margin-bottom: 35px;
  }
}

.field-label {
  &__title {
    display: flex;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 700;
    color: #555555;
    line-height: 1.4;
    text-transform: uppercase;
  }

  &__input {
    color: #555555;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: transparent;
    height: 55px;
    padding: 0 25px 0 25px;
    border: 1px solid #eee;
    border-radius: 4px;
    outline: none;

    &:hover,
    &:focus {
      border: 1px solid #1fb146;
    }
  }
}
